<ul class="footer" role="navigation" aria-label="corporate links" >
  <li>
    <a href="http://support.microsoft.com/contactus">Contact Us</a>
  </li>
  <li>
    <a href="http://go.microsoft.com/fwlink/?LinkId=248681">Privacy &amp; Cookies</a>
  </li>
  <li>
   <a href="http://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">Terms of Use</a>
  </li>
  <li>
    <a href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx">Trademarks</a>
  </li>

  <li class="copyright">© Rahul Jaitly 2018</li>

</ul>
