<h1 class="pagetitle">
  Welcome to {{ title }}!
</h1>

<!-- <h3>List of Employees:(Login hint)</h3> 
<ul *ngFor ="let j of employees">
  <li>{{j.Name}}</li>
</ul> -->

<form (submit)="loginUser($event)">
  <div class="input">
    <label>Username</label>
    <input type="text" placeholder="Enter Username">
  </div>
  
  <div class="input">
    <label>Password</label>
    <input type="password" placeholder="Enter Password">
  </div>
  
  <div class="input">
    <input class="btn login" type="Submit" value="Login">
    <!-- <a class="btn login" (click)="loginUser(e)">Login</a>  -->
    <a class="btn backbutton" routerLink="/">Go Back</a>
  </div>
</form> 