<nav class="navbar navbar-nav navbar-expand-lg  navbar-fixed-top navbar-dark bg-inverse">
    <ng-container  class="container">
        <ul class="nav " >
            <li class="nav-item" routerLinkActive="active" *ngFor="let x of navBarList;">
                <a class="nav-link" routerLink="/{{x.URL}}">{{x.Name}} </a>
            </li>
        </ul>
    </ng-container>
     <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </nav>    